/* Estilos generales */
body {
   font-family: 'Montserrat, 'Roboto, 'sans-serif, 'arial;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e7f8b1, #122b4); /* Degradado de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Banner de fondo para el título */
header.banner {
    background-color: rgba(231, 248, 177, 0.80); /* Fondo con transparencia (0.8 de opacidad) */
    color: #122b48;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 3px 6px rgb(42 54 78 / 50%);
    margin: 0;
    border-top: 4px solid #b6d656; /* Borde superior */
    border-bottom: 4px solid #b6d656; /* Borde inferior */
    display: flex; /* Usa flexbox para alinear la imagen y el texto */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    position: relative; /* Necesario para posicionar el logo */
}
/* Estilos para la imagen del banner */
.banner-logo {
    height: 90px; /* Ajusta el tamaño de la imagen */
    width: auto; /* Mantiene la proporción de la imagen */
    margin-right: 25px; /* Espacio entre la imagen y el título */
    position: absolute; /* Posiciona la imagen de manera absoluta */
    left: 07px; /* Distancia desde la izquierda */
}
/* Personalización del título */
header.banner h1 {
    font-size: 2.5rem;
    margin: 0;
}

header.banner p {
    font-size: 1.2rem;
    margin: 10px 0 0;
}

/* Contenedor de las vistas previas */
.pdf-container {
    display: inline;
    flex-direction: row; /* Apila las imágenes una debajo de la otra */
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

/* Estilos de las imágenes de vista previa */
.pdf-container img {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    border: 10px solid #e7f8b1;
    border-radius: 50px;
    transition: transform 0.2s;

}

.pdf-container img:hover {
    transform: scale(1.07);
}

/* Ajustes para pantallas pequeñas */
 header.banner {
        flex-direction: row; /* Apila el logo y el título verticalmente */
        padding: 15px 0; /* Reduce el padding para ahorrar espacio */
    }

    .banner-logo {
        position: static; /* Elimina el posicionamiento absoluto */
        margin: 0 20px 0px 0; /* Espacio entre el logo y el título */
        height: 40px; /* Reduce el tamaño del logo para móviles */
    }

    header.banner h1 {
        font-size: 2rem; /* Reduce el tamaño del título para móviles */
    }
}
